body {
   background: #3e75b0;
  font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
    color: #d6d6d6;
    font-size: 2em;
    padding-top: 100px;
    font: Georgia;
    border: 10px solid #366295;
    height: 15px;


}

a {
    color: white;
}