body {
   background: rgb(113, 113, 113);
  font-family: 'Raleway', sans-serif;
    color: white:
}

h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    font: Georgia;
    border: solid 3px white;
    height: 15px;
    padding: 20px 20px;

}
h2 {

}
h3 {
    color: white;
    text-align: left;
    font-size: 30px;
}
p {
    color: white;
    text-align: center;
}

a {
    color: white;
    text-align: center;
}

