body {
    background: #f2f2f2;
     margin: 0 auto;
    }

header {
  background-color: rgb(76, 76, 76);
  border-bottom: 1px solid rgba(70, 105, 149, 0.22);
  position: fixed;
  width: 100%;
  z-index: 10;
    top:0;
    float:left;
}

h1 {
    padding-top:100px;
    text-align: center;

}

li {
    list-style-type: none;
    display: inline;

}

h2 {
    text-align: center;

}
.list{
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;


}

.link {
  color: #b8bdb9;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  display:inline-block;
  width: 80px;
    margin-left: 15px;
    margin-right: 15px;
}

.tekst {
    margin: 50px;
    font-size: 150%;
    padding: 15px;
    border: 5px solid #e4e4e4;
}

.margin-alla {
    margin-bottom: 100px;
}

.pilt{

    width:300px;
    height: auto;
    text-align:center;
    display:inline-block;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 20px;
}

* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
  max-width: 600px;
    display:block;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}


a:hover {
    color: #fafffb;
}