h1{
    text-shadow: 3px 2px grey;
}

h2{
    text-shadow: 3px 2px grey;
}

h3{
    text-shadow: 3px 2px grey;
}

body{
    padding-left: 20px;
    padding-right: 20px;
}

div.header {
    background-image: url("https://i.imgur.com/i9yhhq3.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

div.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

div.row:after {
    content: "";
    display: table;
    clear: both;
}

div.gallery {
     margin: 20px;
     float: left;
     width: 400px;
 }

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 30px;
    text-align: center;
}
